.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 24px;
  background-color: #343944;
  padding: 64px 16px 16px;
}

#game-stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#game {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-grow: 1;
  height: 100%;

  &.reverse {
    flex-direction: row-reverse;
  }
}

.Taken-Pieces {
  display: flex;
  align-items: center;
  width: 80px;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  overflow: scroll;


  &.top {
    justify-content: flex-start;
  }

  &.bottom {
    justify-content: flex-end;
  }


  .Piece {
    display: flex;
    width: 70%;
    height: auto;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: unset;
    transition: all 100ms ease-out;
  }
}

h1, a , p {
  margin: 0;
  color: white;
}

h1 {
  font-size: x-large;
  font-weight: normal;
}

p {
  font-size: xx-large;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}
