.Square {
    aspect-ratio: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #E8EDF9;
}

/*To get the checker board*/
.Square:nth-child(16n-15), :nth-child(16n-13),
:nth-child(16n-11), :nth-child(16n-9),
:nth-child(16n-6), :nth-child(16n-4), :nth-child(16n-2),
:nth-child(16n) {
    background-color: #B7C0D8;
}

.Square:after {
    transition: all 100ms ease-out;
    content: '';
    width: 0;
    height: 0;
    border-radius: 100%;
    position: absolute;
    background-color: rgba(69, 58, 129, 0.5);
    opacity: 0;
}

.Square.Highlighted:after {
    opacity: 100%;
    width: 50%;
    height: 50%;
}


.Piece {
    display: flex;
    height: 80%;
    width: 80%;
    background-color: transparent;
    border: unset;
    -webkit-transition: all 100ms ease-out;
}



img {
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
    -webkit-transition: all 100ms ease-out;
}

.Rotated {
    rotate: 180deg;
}

.Piece:has([type=radio]:enabled) {

    &:hover {
        transform: scale(0.9);
    }

    &:active {
        transform: scale(0.8);
    }

    &:has([type=radio]:checked) {
        transform: scale(0.9);
    }

    &:has([type=radio]:checked) img {
        transform: translateY(-4px);
        filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.25)) ;
    }

    &:active img {
        filter: brightness(0.8);
    }

}


/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}
